/* You can add global styles to this file, and also import other style files */
body {
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0;
}
.btn {
  background-color: #04AA6D!important;
  border-radius: 5px;
  padding: 0.4rem 0.5rem;
  color: white;
  border: 0;
  cursor: pointer;
  &:hover {
    background-color: #4CAF50!important;
  }
  &:active {
    background-color: #49964b!important;
  }
}
main {
  padding: 0 1rem;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border-bottom: 1px solid #e7e7e7;
  background-color: #f3f3f3;
}

li {
  float: left;
}

li a, li span {
  display: block;
  color: #666;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #ddd;
}

li a.active {
  color: white;
  background-color: #04AA6D;
  &:hover {
    background-color: #4CAF50;
  }
}
li:last-child {
  float: right;
}
span.title {
  font-weight: bold;
}
